<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD43dhOheuQXCiSko2hikZFJimt9lKNXKI</string>
	<key>GCM_SENDER_ID</key>
	<string>980880209638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupthree.marketBay</string>
	<key>PROJECT_ID</key>
	<string>marketbay-46fde</string>
	<key>STORAGE_BUCKET</key>
	<string>marketbay-46fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980880209638:ios:1b53f282a71d14948d2d27</string>
</dict>
</plist>